@import "../../../src/utils/style/libs/mixins.scss";
@import "../../../src/utils/style/libs/variable.scss";

body {
  overflow-x: hidden;
}

.containerCatalogue {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  .titleCatalogue {
    z-index: 9;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: "Archivo Black";
    font-size: 30px;
    color: $primary;
    font-size: 35px;
    line-height: 40px;
    background-color: rgb(211, 250, 238);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }
  .introTextProductionVR{
	font-weight: bold;
	color: black;
	width: 90%;
	font-size: 20px;
	text-align: start;
	font-family: "Nunito Sans";
	margin: 20px 0 100px 2%;
}
  .jeuCatalogue {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    .leftPartJeuCatalogue {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 25%;
      height: fit-content;
      .imageJeuCatalogue {
        margin: auto;
        width: 200px;
        height: auto;
        border-radius: 20px;
      }
    }
    .rightPartCatalogue {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: start;
      width: 75%;
      //   height: 120px;
      .titreJeuVR {
        align-items: center;
        width: 90%;
        color: $primary;
        font-family: "Archivo Black";
        font-size: 50px;
      }
      .descriptionJeu {
        display: flex;
        text-align: start;
        width: 50%;
        color: $primary;
        font-size: 20px;
        font-family: "Nunito Sans";
      }
      .videoTrailer {
        display: flex;
        align-items: center;
        width: 45%;
        padding-right: 2%;
        height: auto;
      }
      .videoJeu {
        border-radius: 20px;
      }
    }
  }
}

// -------Responsive------

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .containerCatalogue {
    justify-content: space-around;
    .jeuCatalogue {
      .leftPartCatalogue {
        width: 100% !important;
        .imageJeuCatalogue {
          width: 200px;
        }
      }
      .rightPartCatalogue {
        width: 60% !important;
        .descriptionJeu {
          margin-top: 5vw;
          width: 90% !important;
        }
        .videoTrailer {
          margin-top: 5vw;
          width: 70% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .containerCatalogue {
    .jeuCatalogue {
      .titreJeuVR {
        font-size: 32px !important;
      }
      .imageJeuCatalogue {
        width: 150px !important;
      }
    }
  }
}
