@import "../../../src/utils/style/libs/mixins.scss";
@import "../../../src/utils/style/libs/variable.scss";

html,
body {
  overflow-x: hidden;
}
@keyframes floating1 {
  from { transform: translateX(0px); }
  50%  { transform: translateX(-100px); }
  to   { transform: translateX(-0px); }    
}
@keyframes floating2 {
  from { transform: translateX(0px); }
  50%  { transform: translateX(100px); }
  to   { transform: translateX(-0px); }    
}

.containerEntrepriseAE {
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    left: -50%;
    height: 120%;
    background-image: url('/assets/img/vrvibes-frise-double-green-pastel.png');
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 0.15;
    animation: floating1 5s infinite;
  }
  &::after {
    content: "";
    position: absolute;
    width: 200%;
    right: -50%;
    height: 120%;
    top: 75px;
    background-image: url('/assets/img/vrvibes-frise-double-green-pastel.png');
    background-repeat: repeat-y;
    background-size: 100%;
    z-index: 5;
    opacity: 0.1;
    animation: floating2 5s infinite;
  }
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: fit-content;
  
  .titleAE {
	width: 100%;
    margin: 65px 0 15px 0;
    position: relative;
    height: 4vh;
    z-index: 10;
    font-family: "Archivo Black";
    font-size: 47px;
    color: $primaryDark;
  }
  .entrepriseAE {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: fit-content;
    margin-bottom: 50px;
    .subtitleEntrepriseAE {
      z-index: 10;
      width: 100%;
      position: relative;
      font-family: "Nunito Sans";
      font-weight: bold;
      color: $primary;
      margin: 8% 0 0 7%;
      font-size: 33px;
    }
    .entrepriseChoiceAE {
      width: 100%;
      z-index: 10;
      position: relative;
      width: 646px;
      height: 474px;
    }
	.divReserverEntrerpriseAE{
		width:100%;
		.reserverEntreprise {
			margin: auto;
			z-index: 10;
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "Nunito Sans";
			text-decoration: none;
			color: white;
			font-size: 30px;
			width: 160px;
			height: 61px;
			background: #005f4e;
			border-radius: 11px;
	}
    
      //   box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.22),
      //     inset 1px 2px 3px rgba(255, 255, 255, 0.34);
      //   filter: drop-shadow(-8px -8px 13px rgba(255, 255, 255, 0.86))
      //     drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.29));
      border-radius: 11px;
    }
  }

  .frise15,
  .frise17,
  .frise19 {
    right: -1500px;
  }
  .frise16,
  .frise18,
  .frise20 {
    left: -1500px;
  }
  .frise15,
  .frise16,
  .frise17,
  .frise18,
  .frise19,
  .frise20 {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    margin: 4% 0 0 0;
    width: 200%;
    opacity: 0.1;
    filter: drop-shadow(5px 5px 5px #0000008e);
    transition: 1s;
  }
  .frise16 {
    margin: 10% 0 0 0;
  }
  .frise17 {
    margin: 18% 0 0 0;
  }
  .frise18 {
    margin: 26% 0 0 0;
  }
  .frise19 {
    margin: 34% 0 0 0;
  }
  .frise20 {
    margin: 42% 0 0 0;
  }
}

// ----------RESPONSIVE----------

@media screen and (max-width: 1200px) {
	.entrepriseAE{
		margin-top: 30px !important;
	}
}

@media screen and (max-width: 576px) {
  .containerEntrepriseAE {
    z-index: 0;
    position: relative;
    height: fit-content !important;
    .titleAE {
      padding-top: 66px;
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 23px !important;
    }
    .entrepriseAE {
      width: 100%;
      height: fit-content;
      margin-top: 20px;
      .subtitleEntrepriseAE {
        text-align: center;
        color: $primary;
        font-size: 26px !important;
      }
      .entrepriseChoiceAE {
		margin-top: 20px !important;
        width: 367px !important;
        height: 290px !important;
      }
	  .divReserverEntrerpriseAE{
		margin-top: 20px !important;
	  }
    }
  }
}

@media screen and (max-width: 768px) {
  .containerEntrepriseAE {
    z-index: 0;
    position: relative;
    height: fit-content;
    .titleAE {
      padding-top: 66px;
      padding-bottom: 0px !important;
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 36px;
    }
    .entrepriseAE {
      width: 100%;
      height: fit-content;
      margin-top: 0 !important;
      .subtitleEntrepriseAE {
        text-align: center;
        color: $primary;
        font-size: 33px;
      }
      .entrepriseChoiceAE {
        width: 700px;
        height: 510px;
      }
    }
  }
}
