@import "../../../src/utils/style/libs/mixins.scss";
@import "../../../src/utils/style/libs/variable.scss";

html,
body {
  overflow-x: hidden;
}

.entrepriseFamille {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    width: 200%;
    left: -50%;
    height: 120%;
    background-image: url("/assets/img/vrvibes-frise-double-green-pastel.png");
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 0.15;
    animation: floating1 5s infinite;
  }
  &::after {
    content: "";
    position: absolute;
    width: 200%;
    right: -50%;
    height: 120%;
    top: 75px;
    background-image: url("/assets/img/vrvibes-frise-double-green-pastel.png");
    background-repeat: repeat-y;
    background-size: 100%;
    z-index: 5;
    opacity: 0.1;
    animation: floating2 5s infinite;
  }
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: fit-content;
  .titleEntrepriseFamille {
    opacity: 0;
    width: 100%;
    margin: 85px 0 15px 0;
    position: relative;
    height: 4vh;
    z-index: 10;
    font-family: "Archivo Black";
    font-size: 35px;
    color: $primaryDark;
  }
  .entreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: fit-content;
    margin-bottom: 50px;
    .subtitleEntreprise {
      opacity: 0;
      z-index: 10;
      width: 100%;
      position: relative;
      font-family: "Nunito Sans";
      font-weight: bold;
      color: $primary;
      margin: 8% 0 0 7%;
      font-size: 27px;
    }
    .entrepriseChoice {
      width: 100%;
      z-index: 10;
      position: relative;
      width: 580px;
      height: auto;
    }
    .divReserver {
      width: 100%;
      .reserverEntreprise {
        margin: auto;
        opacity: 0;
        z-index: 10;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito Sans";
        text-decoration: none;
        color: white;
        font-size: 27px;
        width: 160px;
        height: 61px;
        background: #005f4e;
        border-radius: 11px;
      }
    }
  }
  .famille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: fit-content;
    .subtitleFamille {
      opacity: 0;
      z-index: 10;
      width: 100%;
      position: relative;
      font-family: "Nunito Sans";
      font-weight: bold;
      color: $primary;
      margin: 8% 0 0 7%;
      font-size: 27px;
    }
    .familleChoice {
      width: 100%;
      z-index: 10;
      position: relative;
      width: 580px;
      height: auto;
    }
    .divReserver {
      width: 100%;
      .reserverFamille {
        opacity: 0;
        margin: auto;
        z-index: 10;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito Sans";
        text-decoration: none;
        color: white;
        font-size: 27px;
        width: 160px;
        height: 61px;
        background: #005f4e;
        border-radius: 11px;
      }
    }
  }
}

// ----------RESPONSIVE----------

@media screen and (max-width: 1025px) {
  .titleEntrepriseFamille {
    margin-bottom: 30px !important;
  }
  .familleChoice {
    width: 374px !important;
    height: 297px !important;
  }
  .entrepriseChoice {
    width: 406px !important;
    height: 300px !important;
  }
}

@media screen and (max-width: 768px) {
  .entrepriseFamille {
    padding-top: 100px;
    z-index: 0;
    position: relative;
    height: fit-content;
    background-size: cover;
    .titleEntrepriseFamille {
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 36px;
    }
    .entreprise {
      width: 100%;
      height: fit-content;

      .subtitleEntreprise {
        text-align: center;
        color: $primary;
        font-size: 33px;
      }
      .entrepriseChoice {
        width: 700px;
        height: 510px;
      }
    }
    .famille {
      padding-bottom: 30px;
      width: 100%;
      height: fit-content;
      margin-top: -35px;
      .subtitleFamille {
        z-index: 10;
        position: relative;
        text-align: center;
        font-size: 33px;
      }
      .familleChoice {
        width: 700px;
        height: 510px;
      }
      .reserverFamille {
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .entrepriseFamille {
    z-index: 0;
    position: relative;
    background-size: cover;
    .titleEntrepriseFamille {
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 23px !important;
    }
    .entreprise {
      width: 100%;
      height: fit-content;
      margin-top: 20px;
      .subtitleEntreprise {
        text-align: center;
        color: $primary;
        font-size: 26px !important;
      }
      .entrepriseChoice {
        width: 367px !important;
        height: 290px !important;
      }
    }
    .famille {
      width: 100%;
      height: fit-content;
      margin-top: -35px;
      .subtitleFamille {
        z-index: 10;
        position: relative;
        text-align: center;
        font-size: 26px !important;
      }
      .familleChoice {
        width: 367px !important;
        height: 290px !important;
      }
      .reserverFamille {
        margin-bottom: 50px;
      }
    }
  }
}
