@import "../../../src/utils/style/libs/mixins.scss";
@import "../../../src/utils/style/libs/variable.scss";

@font-face {
  font-family: "Nunito Sans";
  src: url(../../../public/fonts/NunitoSans.ttf);
}
@font-face {
  font-family: "Archivo Black";
  src: url(../../../public/fonts/ArchivoBlack-Regular.ttf);
}

body{
	overflow-x: hidden;
}

.confirmationFormulaire{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	text-align: center;
	.imageEnvoie{
		margin-top: 100px;
		width: 200px;
	}
	.messageEnvoye{
		width: 100%;
		font-family: "Nunito Sans";
		font-size: 25px;
		margin-top: 30px;
		color: $primary;
	}
	.nousReviendrons{
		margin-top: 10px;
		width: 100%;
		font-family: "Nunito Sans";
		color: black;
		margin-bottom: 30px;
	}
}